NewW
{{!-- {{input type="text" placeholder="Name" value=name class="name-input"}}
         {{input type="text" placeholder="message" value=message class="name-input"}}
         <button type="button" {{on "click" this.ms}}>Submit</button> --}}